img {
  width: 0px;
}
  
.btn {
  font-size:0.9rem;
}
@media (min-width: 550px) {
  
  html {
    font-size: 1.4rem;
    min-height: 100vh;
  }
img {
    width: 280px;
    margin-left: 0;
  }

  body {
    min-width: 100%;
    min-height: 100vh;
  }

  .content {
    width: 55%;
  }

  .content>button {
    font-weight: 700;
    margin: 0.3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0.38rem;
  }

  .contenedor {
    width: 75%;
  }
 .contenedor-wo{
  width:75%;
  margin:auto auto;
  
 }
 .none{
  display:none;
}
}


.contenedor {
  width: 75%;
  margin:0 auto;
}
.content-index {
  width: 100%;
  margin:0  auto;
}

img {
  width: 240px;
}

html {
  min-height: 100vh;
  font-size: 1.1rem;
}

body {
  min-height: 100vh;
  min-height: 100vh;
}
content-index{
}

@media (min-width: 1300px) 
{

html{
  min-height: 100vh;
  font-size: 1.1rem;
}
}



