@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin:0;
}
nav{
  position: fixed;
}
body{
  font-size: 'Nunito';
    width: 100%;
    background-color: white;
  }
/* ul>li>a:hover{
    color:rgb(255, 102, 0);
    transform: scale(1.05);
    font-weight: bold;
} */
 .navbar-brand{
    margin: 0;
    padding-right: 0;
 }
  .navbar{
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .container > img{
    max-width:40vh;
  }

  .contenedor{
      width:75%;
      margin:0  auto;

  }
  .content{
    display: inline;
    text-align: center;
   width:100%;
  padding: 1rem;
  margin:1rem;
  }
.content>button{
  width: 100%;
    font-weight: 700;
    margin:0.4rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 0.7rem ;
  }

  .content-index{
    
   width:100%;
  padding: 1rem;
  margin:1rem;
  }


.page-container{
  width:100%
}

.table-responsive{
  font-size: 0.65rem;
}



.card {
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23); */
  padding:1.5rem;
  background-color:rgb(32, 37, 41);
  text-transform: uppercase;
}
.cards {
  
  max-width: 85%;
  margin: 1.5rem auto;
  display: grid;
  gap: 1.5rem;
}


@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); 
    margin: 1rem auto;
  }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); 
    margin: 2.5rem auto;}
}
@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(4, 1fr); 
  margin: 3rem auto;}
}
/* 

.link{y
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-align: center;

}.link:hover{
  text-decoration: none;
  color:rgb(255,102,0);
} */



.card>a{
  text-decoration: none;
  color:inherit;
  font-weight: 400;
  
}
.card:hover{
  
  transform: scale(1.08);
}

.active{
  font-weight:700 ;
}

/** WO SMT*/
.content-index{
}
.grid{
  min-width: 100%;
  height: 6rem;

  overflow: visible;
}

/**TABLE**/
#myTable{
  width: 100%;
  font-family: 'Nunito';
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .8rem;


}


.label{
  background-color: transparent !important;
  border: none !important;
}

*:disabled {
  background-color: #00404d;

  color: white;
  opacity: 0.45;
  width: 100%;
  height: 55%;
}


.opacity{
  background-color: #00404d;
  opacity: .50;
}

.botonera{
}
.boton{

  font-weight: bold;
  margin: auto;
  color: white !important;
}
.boton:hover{
  transform: scale(1.06);
  
  color: black !important;
}